<nav class="navbar bgc-for-menu shadow" data-aos="fade-out">
  <ul class="navbar-nav col-lg" id="navbarResponsive">
<!--    <li class="nav-item pr-2" (click)="closeMenu()"><a href="#" class="float-right"><span class="fa fa-close"></span></a></li>-->
    <li class="nav-item pl-5"><a routerLink="/case-home-route" class="nav-link">Acceuil</a></li>
    <li class="nav-item pl-5"><a routerLink="/case-statistics-route" class="nav-link">Les statistiques</a></li>
    <li class="nav-item pl-5"><a routerLink="/case-home-route" class="nav-link">Actualité</a></li>
    <li class="nav-item pl-5"><a routerLink="/case-of-bel-route" class="nav-link">Annononcer un cas suspect <span class="glyphicon glyphicon-bell text-danger"></span></a></li>
<!--    <li class="nav-item pl-5"><a href="#services" class="nav-link">Forum</a></li>-->
    <li class="nav-item pl-5"><a routerLink="/case-cnx-route" class="nav-link">Connexion</a></li>
<!--    <li class="nav-item pl-5"><a href="#contact" class="nav-link">Contact</a></li>-->
  </ul>
</nav>
