<!-- ======= Top Bar ======= -->
<div class="fixed-top">
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <ul>
        <li><i class="icofont-envelope"></i><a href="#">ulpgl.tech@gmail.com</a></li>
        <li><i class="icofont-phone"></i> +243 970 284 772</li>
        <li><span class="badge badge-light text-danger">Numero d'urgence</span></li>
      </ul>
    </div>
    <div class="cta">
      <a routerLink="/case-statistics-route" class="scrollto nav-link">Voir les statistisques</a>
    </div>
  </div>
</section>
<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a routerLink="/case-home" class="mr-5">
          <span class="text-primary">viva-rdc</span>
        </a>
        <a routerLink="/case-home" class="ml-5">
          <span>
            <img src="../assets/img/logovivardc.png" alt="logoviva2020">
        </span>
        </a>
        <a routerLink="/case-home">
          <span>
            <img src="../assets/img/ministerelg.png" alt="logoministere">
          </span>
        </a>
        <a routerLink="/case-home">
          <span>
            <img  src="../assets/img/logordc.png"  alt="logordc">
          </span>
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    </div>
    <button type="button" class="btn btn-default d-lg-none" (click)="onAskingForMenu()">
      <b class="text-dark">
        <span class="fa fa-bars"></span>
      </b>
    </button>
    <nav class="nav-menu d-none d-lg-block">
      <ul id="navbarResponsive">
        <li routerLinkActive="active"><a routerLink="/case-home">Acceuil</a></li>
        <li routerLinkActive="active"><a routerLink="case-home#services">Actualité</a></li>
        <li routerLinkActive="active"><a routerLink="/case-of-bel-route">Annononcer un cas suspect <span class="glyphicon glyphicon-bell text-danger"></span></a></li>
<!--        <li routerLinkActive="active"><a routerLink="/case-forum-route">Forum</a></li>-->
        <li routerLinkActive="active" *ngIf="!isAuth"><a routerLink="/case-cnx-route">Connexion</a></li>
        <li *ngIf="isAuth"><a href="" (click)="onLookPannel()"><span class="cdf border">jddjdjdjdjd</span></a></li>
<!--        <li><a href="#contact">Contact</a></li>-->
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->
<!--  pannel when small devices -->
  <app-viva-modal-cmp *ngIf="whantMenu"></app-viva-modal-cmp>
<!--  pannel when session is set -->
  <div class="col-lg-2 float-right shadow bg-white mr-5 mt-1" *ngIf="pannel">
    <div class="container-fluid">
      <div class="col-lg p-3">
        <h4>Pannel</h4>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item"><span class="fa fa-user-circle-o"></span>&nbsp;Profile</a>
        <a  routerLink="/case-forum-route" class="list-group-item"><span class="fa fa-comments"></span>&nbsp;Forum</a>
        <a (click)="onSignOut()" href="#" class="list-group-item"><span class="fa fa-sign-out"></span>&nbsp;Deconnexion</a>
      </div>
    </div>
  </div>
</div>
<div class="col-lg pull-top bg-white">
  <router-outlet></router-outlet>
</div>
<!-- ======= Footer ======= -->
<app-viva-foot-cmp></app-viva-foot-cmp>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


