<div class="col-lg justify-content-center mt-5 mb-5">
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h4>Lancer une alerte</h4>
        <h6>En procedant nous devons devoir acceder à votre Position</h6>
      </div>
      <div class="card-body justify-content-center text-center">
<!--        <div class="col-lg container-fluid mt-md-5 mt-sm-5 mt-xl-5 mttmxs" *ngIf="showUpMap">-->
<!--          <app-viva-map-cmp></app-viva-map-cmp>-->
<!--        </div>-->
        <div class="container mt-4">
          <button class="btn btn-lg btn-primary border" (click)="onBelling()">
            <span class="fa fa-bell"></span>
            <span> Alerter</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
