<div class="col-lg pt-lg-5 justify-content-center pb-5">
  <div class="container">
     <div class="card border-0">
       <div class="card-header border-0">
         <div class="card-title pl-4">
           <h3>Auto-test du <b><small>COVID - 19</small></b></h3>
           <h6>Ce site d’information n’est pas un dispositif médical, il ne délivre pas d’avis médical</h6>
         </div>
       </div>
       <div class="card-body bg-secondary">
          <div class="col-lg">
            <h3></h3>
          </div>
         <div class="col-lg">

         </div>
       </div>
<!--       <div class="card-footer"></div>-->
     </div>
  </div>
</div>
